<div class="mat-app-background content">
<h2>GovData Dashboard</h2>

<mat-form-field appearance="fill">
  <mat-label>Filter</mat-label>
  <input matInput (keyup)="applyFilter($event)">
</mat-form-field>

<table mat-table [dataSource]="dataSource" matSort>
  <ng-container matColumnDef="department">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Department </th>
    <td mat-cell *matCellDef="let element"> {{element.department}} </td>
  </ng-container>
  <ng-container matColumnDef="description">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Description </th>
    <td mat-cell *matCellDef="let element"> {{element.description}} </td>
  </ng-container>
  <ng-container matColumnDef="datasets">
    <th mat-header-cell *matHeaderCellDef mat-sort-header> Datasets </th>
    <td mat-cell *matCellDef="let element"> {{element.datasets}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="columnsToDisplay"></tr>
  <tr mat-row *matRowDef="let myRowData; columns: columnsToDisplay"></tr>
</table>
</div>
